@font-face {
  font-family: Muli;
  src: url(../fonts/Muli.ttf);
}
@font-face {
  font-family: Muli-b;
  src: url(../fonts/Muli-Bold.ttf);
}
@font-face {
  font-family: Muli-bi;
  src: url(../fonts/Muli-BoldItalic.ttf);
}
@font-face {
  font-family: Muli-el;
  src: url(../fonts/Muli-ExtraLight.ttf);
}
@font-face {
  font-family: Muli-eli;
  src: url(../fonts/Muli-ExtraLightItalic.ttf);
}
@font-face {
  font-family: Muli-i;
  src: url(../fonts/Muli-Italic.ttf);
}
@font-face {
  font-family: Muli-l;
  src: url(../fonts/Muli-Light.ttf);
}
@font-face {
  font-family: Muli-li;
  src: url(../fonts/Muli-LightItalic.ttf);
}
@font-face {
  font-family: Muli-sbi;
  src: url(../fonts/Muli-Semi-BoldItalic.ttf);
}
@font-face {
  font-family: Muli-sb;
  src: url(../fonts/Muli-SemiBold.ttf);
}
@keyframes HeaderButton {
  from {
    background-color: var(--Primarycolor);
  }
  to {
    background-color: red;
  }
}
.header-container {
  margin-bottom: 84px;
}
.trafalgar-button {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: var(--Primarycolor);
  font: 700 26px Muli;
  color: var(--FourthPrimarycolor);
  line-height: 41px;
  margin-right: 12px;
  /* animation: HeaderButton 4s linear 1s infinite alternate; */
}
.header-nav {
  margin-top: 56px;
}
.trafalgar-title {
  font: 700 24px Muli;
  line-height: 30.12px;
  color: #233348;
}
#navbarNav ul li a {
  color: #1f1534;
  line-height: 22.59px;
  transition: all 2s;
}
#navbarNav ul li a:hover {
  transform: scale(0.95, 0.95);
  color: red;
}
#navbarNav ul li:not(:first-child) a {
  opacity: 0.5;
  font: 400 18px Muli-b;
}
#navbarNav ul li:first-child a {
  font: 700 18px Muli-b;
}
.first-section {
  background-image: url(../image/element.svg);
  background-repeat: no-repeat;
}
.first-section-title {
  font: 700 48px Muli;
  color: var(--ThirdPrimarycolor);
  line-height: 56px;
  margin-bottom: 25px;
}
.first-section-description {
  font: 300 21px Muli-bi;
  line-height: 32px;
  color: var(--SecondPrimarycolor);
}
.header-button {
  width: 200px;
  height: 60px;
  margin-top: 45px;
  border-radius: 55px;
  font: 700 18px Muli-b;
  line-height: 60px;
  color: var(--FourthPrimarycolor);
}
@media only screen and (max-width: 991px) {
  .btn {
    width: 100%;
  }
  .first-section-row {
    display: flex;
    flex-direction: column-reverse;
  }
}
.section2 {
  margin-top: 190px;
  background-image: url(../image/element.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.section2-title {
  font: 700 36px Muli-sbi;
  line-height: 56px;
  color: var(--ThirdPrimarycolor);
}
.section2-title-bottom {
  width: 56px;
  height: 2px;
  border-radius: 5px;
  background-color: var(--ThirdPrimarycolor);
}
.section2-description {
  font: 300 18px Muli-b;
  line-height: 30px;
  color: var(--SecondPrimarycolor);
  margin-bottom: 80px;
}
.cards {
  background-image: url(../image/section2-image.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: left center;
}
.card-container {
  width: 330px;
  padding-left: 37px;
  margin-bottom: 37px;
  margin-right: 37px;
  border-radius: 20px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  background-color: var(--FourthPrimarycolor);
}
.card1-img {
  margin-left: 22px;
  margin-top: 54px;
  margin-bottom: 22.41px;
}
.card2-img {
  margin-left: 20.64px;
  margin-top: 62px;
  margin-bottom: 19.41px;
}
.card3-img {
  margin-left: 19.64px;
  margin-top: 47px;
  margin-bottom: 24.41px;
}
.card4-img {
  margin-left: 21.64px;
  margin-top: 46px;
  margin-bottom: 25.41px;
}
.card5-img {
  margin-left: 22px;
  margin-top: 59px;
  margin-bottom: 36.25px;
}
.card6-img {
  margin-left: 19.64px;
  margin-top: 52px;
  margin-bottom: 19.41px;
}
.card-img-title {
  font: 700 24px Muli-bi;
  line-height: 56px;
  color: var(--ThirdPrimarycolor);
}
.card-img-description {
  font: 300 16px Muli-b;
  color: var(--SecondPrimarycolor);
  line-height: 28px;
}
.button-row {
  margin-top: 32px;
}
.learn-more-button {
  width: 200px;
  height: 60px;
  border-radius: 55px;
  border: 1px solid var(--Primarycolor);
  background-color: transparent;
  font: 700 18px Muli;
  color: var(--Primarycolor);
  transition: transform 2s;
}
.learn-more-button:hover {
  transform: scale(0.95, 0.95);
}
.section3,
.section4 {
  margin-top: 100px;
}
.section3-title-bottom {
  justify-content: flex-start;
  margin: 50px 0 50px 0;
}
.fa-solid {
  font-size: 19px;
}
.section4{
  margin-bottom: 100px;
}
.section5-container {
  background-image: linear-gradient(to left, #3e90bd, #5a98f2);
  border-radius: 24px;
  padding: 0;
}
.arrow-nav-top {
  background-position: right top;
  background-repeat: no-repeat;
}
.arrow-nav-top-title {
  font: 700 36px Muli;
  color: var(--FourthPrimarycolor);
  line-height: 48px;
}
.straight-line{
  width: 56px;
  height: 2px;
  background-color: var(--FourthPrimarycolor);
  border-radius: 6px;
  margin-bottom: 60px;
}
.arrow-nav-top{
  margin: 66px 118px 70px 118px;
}
.edward-image{
  margin-right: 30px;
  margin-bottom: 9px;
}
.edward-center{
  margin-right: 110px;
}
.edward-center h2, .edward-center p{
  color: var(--FourthPrimarycolor);
  line-height: 48px;
}
.edward-center h2{
  font:700 22px Muli;
}
.edward-center p{
  font:400 18px Muli;
  opacity: 0.85;
}
.edward-right{
  width: 420px;
  font:400 19px Muli-b;
  color:rgba(255, 255, 255, 0.9);
  line-height: 30px;
}
.pagination-container nav ul{
  list-style: none;
}
.circle-box{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #5B9BF3;
}
.circle-box-1{
  background-color: red;
}
.left-arrow:hover, .right-arrow:hover{
  text-decoration: none;
}
.left-arrow, .left-arrow:hover{
  margin-right: 80px;
  color:#5B9BF3;
}
.right-arrow, .right-arrow:hover{
  margin-left: 80px;
  color: red;
}
.section7{
  margin-top: 100px;
}
